body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #000000;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  div {
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  

  